<div class="row">
  <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
       ba-panel
       ba-panel-title="Your Appliances"
       ba-panel-class="large-panel with-scroll feed-panel">

    <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
      <div class="feed-message" ng-repeat="message in feed" ng-click="expandMessage(message)">
        <div class="message-icon" ng-if="message.type == 'text-message'">
          <img class="photo-icon" ng-src="{{::( message.author | profilePicture )}}">
        </div>
        <div class="message-icon" ng-if="message.type != 'text-message'">
          <img class="photo-icon" ng-src="{{::( message.author | profilePicture )}}">
          <span class="sub-photo-icon" ng-class="::message.type"></span>
        </div>
        <div class="text-block text-message">
          <div class="message-header">
            <span class="author">{{ ::message.author }} {{ ::message.surname}}</span>
          </div>
          <div class="message-content line-clamp" ng-class="{'line-clamp-2' : !message.expanded}">
            <span ng-if="message.preview">{{message.header}} </span>{{::message.text}}
          </div>
          <div class="preview" ng-show="message.expanded" ng-if="message.preview">
            <a href="{{::message.link}}" target="_blank">
              <img ng-src="{{ ::( message.preview | appImage )}}">
            </a>
          </div>
          <div ng-show="message.expanded" class="message-time">
            <div class="post-time">
              {{::message.time}}
            </div>
            <div class="ago-time">
              {{::message.ago}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>