
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
       ba-panel
       ba-panel-title="Your Appliances Data"
       ba-panel-class="medium-panel">

      <div class="row">
        <div class="col-md-4 col-sm-12">
          <i class="ion-settings"></i>
          You have {{devices.count}} configured.
        </div>
        <div class="col-md-4 col-sm-12">
          <i class="ion-android-list"></i>
          See all your appliances
        </div>
        <div class="col-md-4 col-sm-12">
          <a href="">
            <i class="ion-plus-circled"></i>
            Configure Another Appliance
          </a>
        </div>
      </div>
  </div>
</div>